// Google Fonts
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap);
$font-primary: 'Open Sans', sans-serif;
$font-mono: 'Ubuntu Mono', monospace;

$white: #fff;
$offwhite: #F1F1F4;

$color-primary:#EA6026;
$text-primary: #000;
$color-secondary: #0A7274;
$text-secondary: #fff;
$text-secondary-dark: darken( $text-secondary, 100% );

$color-secondary-darker: #063f48;//darken( $color-secondary, 10% ); //#1E232A;
$color-secondary-lighter: #0AB0B3; //lighten( $color-secondary, 10% ); //#1E232A;
$color-secondary-light: #D8D8D8; //lighten( $color-secondary, 50% );
$success: #4fab2f;
$error: #B00F23;

$highlight: #e4e64c;
$highlight-inverse: #000;

$border-color: #D8D8D8;
$border-color-dark: #000;
$border-default: 1px solid $border-color;

$shadow-dark:  rgba(90, 153, 212, 0);

$logo-dark: url(../assets/img/ushahidi-logo-black.svg);
$logo: #999 url(../assets/img/ushahidi-logo.svg);
$bar-width: 70px;

$thick-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0 8px 18px rgba(0, 0, 0, 0.24);
$inset-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);